In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize

### 1. The 10 countries with most projects

In [2]:
# loading json project file using with open() context manager
with open('data/world_bank_projects.json') as file:
    data = json.load(file)

In [6]:
# Creating a df from json data file
df = pd.DataFrame(data)
#df.head()
df_themes = json_normalize(data,'mjtheme_namecode', ['id'])

countryshortname    countrycode
Indonesia           ID             19
China               CN             19
Vietnam             VN             17
India               IN             16
Yemen, Republic of  RY             13
Nepal               NP             12
Bangladesh          BD             12
Morocco             MA             12
Mozambique          MZ             11
Africa              3A             11
Name: countrycode, dtype: int64

In [14]:
#df['mjtheme_namecode']

In [15]:
#df_themes

In [27]:
#df_themes.groupby('id').code.nunique().sort_values(ascending=False).head(10)

df.groupby(['countryshortname'])['countrycode'].value_counts().sort_values(ascending=False).head(10)

countryshortname    countrycode
Indonesia           ID             19
China               CN             19
Vietnam             VN             17
India               IN             16
Yemen, Republic of  RY             13
Nepal               NP             12
Bangladesh          BD             12
Morocco             MA             12
Mozambique          MZ             11
Africa              3A             11
Name: countrycode, dtype: int64

In [17]:
# Grouping the df by country name and also aggregating the count of project_name column to get the top 10 countries with most projects.
df.groupby(['countryshortname']).agg({'countrycode':'count'}).sort_values(by='countrycode', ascending=False).head(10)
#df_themes.groupby('id').code.nunique().sort_values(ascending=False).head(10)

                    countrycode
countryshortname
China                        19
Indonesia                    19
Vietnam                      17
India                        16
Yemen, Republic of           13
Nepal                        12
Bangladesh                   12
Morocco                      12
Mozambique                   11
Africa                       11

In [28]:
df['mjtheme_namecode']

0      [{'code': '8', 'name': 'Human development'}, {...
1      [{'code': '1', 'name': 'Economic management'},...
2      [{'code': '5', 'name': 'Trade and integration'...
3      [{'code': '7', 'name': 'Social dev/gender/incl...
4      [{'code': '5', 'name': 'Trade and integration'...
5      [{'code': '6', 'name': 'Social protection and ...
6      [{'code': '2', 'name': 'Public sector governan...
7      [{'code': '11', 'name': 'Environment and natur...
8      [{'code': '10', 'name': 'Rural development'}, ...
9      [{'code': '2', 'name': 'Public sector governan...
10     [{'code': '10', 'name': 'Rural development'}, ...
11     [{'code': '10', 'name': 'Rural development'}, ...
12                           [{'code': '4', 'name': ''}]
13     [{'code': '5', 'name': 'Trade and integration'...
14     [{'code': '6', 'name': 'Social protection and ...
15     [{'code': '10', 'name': 'Rural development'}, ...
16     [{'code': '10', 'name': 'Rural development'}, ...
17     [{'code': '8', 'name': 'Human development'}, {...
18     [{'code': '8', 'name': 'Human development'}, {...
19     [{'code': '2', 'name': 'Public sector governan...
20     [{'code': '7', 'name': 'Social dev/gender/incl...
21     [{'code': '9', 'name': 'Urban development'}, {...
22     [{'code': '7', 'name': 'Social dev/gender/incl...
23     [{'code': '8', 'name': 'Human development'}, {...
24     [{'code': '10', 'name': 'Rural development'}, ...
25     [{'code': '11', 'name': 'Environment and natur...
26     [{'code': '4', 'name': 'Financial and private ...
27     [{'code': '11', 'name': 'Environment and natur...
28     [{'code': '10', 'name': 'Rural development'}, ...
29     [{'code': '7', 'name': 'Social dev/gender/incl...
                             ...
470    [{'code': '5', 'name': 'Trade and integration'...
471    [{'code': '10', 'name': 'Rural development'}, ...
472    [{'code': '11', 'name': 'Environment and natur...
473    [{'code': '11', 'name': 'Environment and natur...
474    [{'code': '9', 'name': 'Urban development'}, {...
475    [{'code': '4', 'name': 'Financial and private ...
476    [{'code': '10', 'name': 'Rural development'}, ...
477    [{'code': '4', 'name': 'Financial and private ...
478    [{'code': '2', 'name': 'Public sector governan...
479    [{'code': '7', 'name': 'Social dev/gender/incl...
480    [{'code': '2', 'name': 'Public sector governan...
481    [{'code': '8', 'name': 'Human development'}, {...
482    [{'code': '10', 'name': 'Rural development'}, ...
483    [{'code': '11', 'name': 'Environment and natur...
484    [{'code': '10', 'name': 'Rural development'}, ...
485    [{'code': '8', 'name': 'Human development'}, {...
486    [{'code': '2', 'name': 'Public sector governan...
487    [{'code': '11', 'name': 'Environment and natur...
488    [{'code': '8', 'name': 'Human development'}, {...
489    [{'code': '9', 'name': 'Urban development'}, {...
490    [{'code': '2', 'name': 'Public sector governan...
491    [{'code': '10', 'name': 'Rural development'}, ...
492    [{'code': '8', 'name': 'Human development'}, {...
493    [{'code': '11', 'name': 'Environment and natur...
494    [{'code': '6', 'name': 'Social protection and ...
495    [{'code': '4', 'name': 'Financial and private ...
496    [{'code': '8', 'name': 'Human development'}, {...
497    [{'code': '10', 'name': 'Rural development'}, ...
498    [{'code': '10', 'name': 'Rural development'}, ...
499    [{'code': '9', 'name': 'Urban development'}, {...
Name: mjtheme_namecode, Length: 500, dtype: object

### 2. The top 10 major project themes (using column 'mjtheme_namecode')

In [37]:
code_top = 11


# Counts the number of projects that invoke each code, storing that as a dictionary and then converting it to a Series. 
# md, short of 'master dictionary', will store the number of projects that invoke each code number.

dic = { }

# Initialize each code's count at zero. 
for i in range(1, code_top+1):
    dic[i] = 0
    
# Move through each set of stored codes for each project to count the number of projects that include each code. 
for x in range(len(df)):
    # d stores the codes used for each project
    c = {}
    for y in range(len(df.mjtheme_namecode[x])):
        c[int(df.mjtheme_namecode[x][y]['code'])] = 1
    
    # Adds the d to overall count in md
    for i in c.keys():
        dic[i] += 1

#mdf, short for 'master dataframe', stores the number of projects that invoke each code number, converting md to a series 
# that I can now use Pandas to analyze the top occurences.
 
mdf = pd.Series(dic)
mdf.sort_values(ascending=False).head(10)

11    157
10    148
2     140
8     128
4     119
6     116
7     114
5      61
9      40
1      33
dtype: int64

In [42]:
print('Top 10 Major World Bank Project Themes:')
df_themes.name.value_counts().head(10)

Top 10 Major World Bank Project Themes:

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64